html, body{
  width: 100%;
  height: 100%; 
  padding:0;
  margin:0;
}

#wrapper{
  min-height: 100%;
  height: 100%;
  height: auto !important;
  width:100%;
  position: relative;
  top: 0;
  left: 0;
}

#header{
  width:100%;
  height:60px; 
  background-color: yellow;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#header p {
  line-height: 1;
  font-size: 20px;
}

#header p a:link{
  color: black;
}

#header p a:hover{
  background-color: rgba(230, 21, 184, 0.774);
}

#header p > a{
  text-decoration: none;
}

#main{
  background-color: white;
  height:100%;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#board{
  width: 80%;
  margin: 30px auto;
  height: 90%;
}

#like_matching{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height:50px;
  line-height: 50px;
}

#from_others, #from_myself{
  background-color: blue;
  color: white;
  width: 100%;
}

#from_others:active, #from_myself:active{
  background-color: limegreen;
  color: white;
  width: 100%;
}

#others_list{
 display: flex;
 flex-direction: column; 
 justify-content: flex-start;
}

.others_each{
  border:1px solid gray;
  border-radius: 10px;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}

.others_each:hover{
  background-color: blue;
  color: white;
}

.face_image{
  width: 20%;
}

.face_image img{
  border-radius: 10px 0px 0px 10px;
}

.detail{
  width: 50%;
}

.like_icon, .delete_icon{
  width: 15%;
}



#footer{
  width:100%;
  height:50px; 
  background-color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  color:white;
  line-height: 1;
}

#footer p{
  text-align: center;
}