html, body{
  width: 100%;
  height: 100%; 
  padding:0;
  margin:0;
}

#wrapper{
  min-height: 100%;
  height: 100%;
  height: auto !important;
  width:100%;
  position: relative;
  top: 0;
  left: 0;
}

#header{
  width:100%;
  height:60px; 
  background-color: yellow;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#header p {
  line-height: 1;
  font-size: 20px;
}

#header p a:link{
  color: black;
}

#header p a:hover{
  background-color: rgba(230, 21, 184, 0.774);
}

#header p > a{
  text-decoration: none;
}

#main{
  background-color: rgb(240, 229, 229);
  height:1000px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#article{
  width: 70%;
  height: 700px;
  background-color: #fff;
  margin: 150px auto;
}

h1{
  text-align: center;
  padding-top: 20px;
}

h2{
  color: red;
  text-align: center;
}

h3{
  text-align: center;
}

#service_content{
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
  height: 400px;
}

#footer{
  width:100%;
  height:60px; 
  background-color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  color:white;
  line-height: 1;
}

#footer p{
  text-align: center;
}